# Dependencies
node_modules/

# Environment variables (Crucial for security!)
.env

# Build folders
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code specific files
.vscode/